/* Setting basic property to all elements/objects unless a class/id change it. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Figtree', sans-serif;
}

/* Setting property to the body tag. Creating a bg linearGradient that hide any overflow. */
body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, #BF273D -10%, #FE6124 100%);
    background-repeat: no-repeat;
}

/* Creating a header tag that allow setsup the navigation bar by seting property to in to get it in place. */
header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

/* Setting property to element under the class logo inside the header tag, creating a smooth border. */
header .logo {  
    border-radius:20px;
    width: 300px;
}

/* Centering all ul listing under the header tag. */
header ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Adjusting all li insde an header tag to have a list style of none and to be move the left. */
header ul li {
    list-style:none;
    margin-left: 2%;
}

/* Setting all links/a tags inside a li tag wihtin a header tag to a certain property. */
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

/* Creating a hover class for a tags inside header tags. And a active li for the navigation. */
header ul li a:hover,
header ul li .active {
    background: #fff;
    color: #BF273D;
    transition: all 0.2s ease-in;
}

.review-text {
    font-size: 15px;
}

/* Creating a class name parallax that is the main attraction for the index. Center everything inside the tag, and sets width 100% and everything overflow to be hidden. */
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Creating a before element for my parallax class, this is to smoothen out between the transition from the parallax to the actual webage. */
.parallax::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, firebrick, transparent);
    z-index: 10;
}

/* Creating a class to assign to header text for section within thee webpage. */
.abtHeader {
    color:white;
    text-align: center;
    font-size:60px;
}

/* Adjusting all image wrapped in the parallax class, assiging basic property unless overwritten by a more specific class. */
.parallax img {
    position: absolute ;
    object-fit: cover;
    top:0;
    left:0;
}

/* Creating a id assign to the image forest inside the parallax. Assigning the image certain property to put it into places. */
.parallax img#forest {
    z-index:3;
    width: 100.5%;
    left: -1vh;
    top: 70vh;
    height:30%;
}

.resize{
    width: 1000px;
    height: 1000px;
}


/* Creating a id assign to the image cloud inside the parallax. Assigning the image certain property to put it into places. */
.parallax img#cloud {
    z-index:1;
    width:100%;
    top:5vh;
}

/* Creating a id assign to the image computer inside the parallax. Assigning the image certain property to put it into places. */
.parallax img#mainComputer {
    z-index:2;
    left:28%;
    width:40%;
    padding: 30px 30px;
}

/* Creating a id assign to the image sky inside the parallax. Assigning the image certain property to put it into places. */
.parallax img#sky {
    width:100%;
    height: 100%;
}

/* Creating an id for the main text inside the parallax with a text shadow to help distinguish the text from background. */
#headText {
    z-index: 2;
    top: 69vh;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 40px;

    text-shadow:
    0 0 0.125em hotpink,
    0 0 0.25em #fff ;
}

/* Creating a class that set basic property to each section inside the webpage. */
.sec {
    position: relative;
    padding: 100px;
    z-index:10;
}

/* A class that changes the size of the text depending on what the webpage needs. */
.sizeTX {
    font-size:25px;
    margin-left: 70vh;
    color: white;
}

/* Creating a specific class for a set of text within the webpage, assigning certain properties such centering the text, color change, padding, font-size. */
.reviewTX {
    text-align: center;
    color: white;
    font-size: 40px;
    padding:60px 50px;
}

/* Creating a reusable class that simply change text color if needed. */
.blackTX {
    color:black;
}

/* Creating a reusable class that change the background color of certain section, helped by the sec class and the padding property. */
.firebrick {
    background: firebrick;
}

/* Creating a reusable class that simply change text color if needed. */
.whiteText { 
    color: white;
}

/* Creating a reusable class that change the background color of certain section, helped by the sec class and the padding property. */ 
.black {
    background: black;
}

/* Creating a tag assign to all h2 inside the class sec, assigning it properties like font-size, margin, and color. */
.sec h2 {
    font-size: 3.5em;
    margin-bottom: 5vh;
    color: #FFF;
}

/*An class shift object that hold this class to the right. Specifically for tx.*/
.right {
    margin-left: 70vh;
    font-size: 1em;
    width:min-content;
    color: #FFF;
}

/*An tag that affect all h1 in side a div and section/. Changes text size and color.*/
div section h1 i {
    color: white;
    font-size:48px;
}

/*An hover affect for the class reviewHover. Change the text color, background, and border. Use for a button.*/
.reviewHover:hover {
    border:4px solid white;
    background-color: transparent;
    color: white;
    transition: all 0.5s ease-out;
}

/*A class for an IMG that simply change properties of the object.*/
.hiringIMG {
    position: absolute;
    width: 470px;
    border-radius: 20px;
    border: 2px solid white;
    left: 6%;
}

/*Creating a button.*/
.exploreBTN {
    text-decoration: none;
    padding: 20px 55px;
    width:max-content;
    overflow-x: hidden;
    background-color: #FE6124;
    color: white;
    border-radius: 30px;
    margin-left: 30%;
}
/*Creating a button.*/
.jobBTN {
    text-decoration: none;
    padding: 4px 11px;
    width:max-content;
    overflow-x: hidden;
    background-color: #FE6124;
    color: white;
    border-radius: 6px;
}

/*Adding a hover effect for the button.*/
.exploreBTN:hover {
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.2s ease-out;
}

/*A class that creat4es column and sort all object assign to it.*/
.grid {
    display: grid;
    grid-template-columns: 2fr;
}

/*A section of classes that fill and adjust the positioning of a curve wave.*/
.wave {
    position: absolute;
    top: 71%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: black;
    background: firebrick;
}

.wave2 {
    position: absolute;
    top: -1%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill:firebrick;
    background: black;
}

.wave3 {
    position: absolute;
    top: 89%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: firebrick;
    background: black;
}
.wave4 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: black;
    background: #F35728;
}


.wave svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 305px;
}

/*A class that center everything wrapped in it.*/
.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Adjusting position and width.*/
.contactBox {
    position: relative;
    width: 400px;
}

/*Affecting the form tag inside the class contact box. Simply create a grid that sort everything inside the form.*/
.contactBox form {
    width: 120%;
    padding: 20px 60px;
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    row-gap: 2rem;
}

/*Make all objects that hold this class take up a whole row.*/
.input-wrap.w1 {
    grid-column: span 2;
    width: 90%;
}

/*A class that adjust and create the box for the input.*/
.contact-input {
    width: 120%;
    background-color: white;
    border:none;
    outline:none;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    font-family: inherit;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.3s;
}

/*Hoveer affect.*/
.contact-input:hover {
    background-color: lightgrey;
}

/*Changing the position of anything wrap around it.*/
.input-wrap {
    position: relative;
}

/*Class that change text.*/
.contactBox h2 {
    font-size: 2em;
    color: white;
    margin-left: 39%;
}

/*Creating a custom underline.*/
.underLine {
    content: "";
    width:200px;
    height:3px;
    top:10px;
    background: white;
    z-index: 100;
    position: absolute;
    border-radius:5px ;
    top: 50px;
    left: 37%;
}

/*SECTION that focus on customizing input box, label, and adjusting foccus and valid.*/
.input-box input, .input-box2 input, .input-box3 input {
    background: white;
    border: 2px solid white;
    outline:none;
    border-radius: 40px;
    font-size: 1em;
    color: black;
    transition: .5s ease;
}

.input-box input:focus,
.input-box2 input:focus,
.input-box3 input:focus
{
    border-color: #FE6024;
}

.input-box label, .input-box2 label,.input-box3 label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: 1px;
    font-size: .8em;
    background: #D73D33;
    padding: 0 6px;
    color: white;
}

.input-box2 input:focus~label,
.input-box2 input:valid~label
{
    top: 1px;
    font-size: .8em;
    background: #DE4430;
    padding: 0 6px;
    color: white;
}

.input-wrap.textarea textarea:focus~label,
.input-wrap.textarea textarea:valid~label {
    top: 1px;
    font-size: .8em;
    background: #E54A2D;
    padding: 0 6px;
    color: white;
}

.input-wrap.textarea textarea:empty + label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s ease;
    background-color: transparent;
}

/*Creating a button*/
.btn_slc {
    position: relative;
    display: inline-block;
    width: 250%;
    letter-spacing: .1em;
    font-size: 1.5em;
    color: #BF273D;
    background: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

/*A before object that will have it width adjusted on hover to add a fill-in effect when hovering over the button.*/
.btn_slc::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0%;
    height: 100%;
    background:#FE6124;
    transform: skewX(35deg);
    transition: 1s;
    z-index:-1;
}

.btn_slc:hover:before {
    width:100%;
}

/*A hover effect that creates a glow.*/
.btn_slc:hover {
    transition-delay: 0s, 1s;
    color:white;
    box-shadow: 
    0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 160px white;
}


.textarea {
    border-radius: 40px;
}

/*Adjusting the spacing of the text for the popup.*/
.popupBody {
    margin-top:4vh;
    margin-bottom: 2vh;
}

/*Adding volume to footer/*/
footer {
    background: #212529;
    padding: 70px 70px;
}

.footerfix {
    text-decoration: none;
    color: white;
}

.footerfix:hover {
    text-decoration: underline;
}
