/* Global selector that applies property to all object, unless change by a more specific tag or class. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

/* A wrapper that centers everything and change the proportion. */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* A container thats adjust the slide in the index page to be on the same row. */
.container2 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

/* A class that applies property to each card of the slide in the index. It creates a box shadow and border-radius. And among ther things. */
.abtCard {
    width: 60px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}


/* Target the element of the class row, which are children elements of the class abtCard. This simply position everything on the same row, and creating space above. */
.abtCard > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-top:50%;
}

/* Creating element of the class icon which is the child elemnt of the row and abtCard. This class creates numbers circle for each card. */
.abtCard > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

/* Creating a general wrapper class for the text for specificer elements later. */
.abtCard > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 85px;
    width: 520px;
    opacity: 0;
    transform: translateY(40px);
    transition-delay: .3s;
    transition: all .3s ease;
}

/* Creating a tag for p tag inside of the class description. Change the text color and create space above. */
.description p {
    color: white;
    padding-top: 5px;
}

/* Creating a tag for all h4 inside of the class .description. Change all text to uppercase and create space above. */
.description h4 {
    text-transform: uppercase;
    padding-top: 15px;
}

/* a tag that set all input to have display none */
input {
    display: none;
}

/* When the input list is selected/checked, apply this property. */
input:checked + label {
    width: 600px;
}

/* When the input is checked, set description with these properties. */
input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Assign background iamge to card with the class abtCard, and is seperated by assigned id. */
.abtCard[for="c1"] {
    background-image: url('abtIMG1.png');
}
.abtCard[for="c2"] {
    background-image: url('abtIMG2.png');
}
.abtCard[for="c3"] {
    background-image: url('abtIMG3.jpg');
}
.abtCard[for="c4"] {
    background-image: url('abtIMG4.jpg');
}
