/* Sets how the total width and height of all elements are calculated */
* {
  box-sizing: border-box;
}


/* Centers elemnts and formats margins */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

/* Creates grid for searchbar and dropdown */
.sortCenter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 30vh;
}

/* Searchbar formatting */
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: auto;
  min-width: 350px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 20px;
}

/* Collapses table */
#myTable {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color: white;
}

/* Aligns table text to the left */
#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

/* Creates underline at elements of table */
#myTable tr {
  border-bottom: 1px solid #ddd;
}

/* Sets background color of table */
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

/* Label for jobs */
.JobH1 {
  color: white;
  font-size: 70px;
}

/* Country dropdown menu */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* Creates a hover effect for the dropdown */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Positions the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Formats dropdown items */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Places dropdown on the grid that contains the searchbar */
#myBtnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Sets dropdown element padding */
#myBtnContainer button {
  all: unset;
  padding: 6px 15px;
}

/* Sets button background color on hover */
#myBtnContainer button:hover {
  background-color: #ddd;
}

/* Sets decoration elements of dropdown elements */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Sets background color on hover */
.dropdown a:hover {
  background-color: #ddd;
}

/* Sets display type */
.show {
  display: block;
}

/* Sets dropdown text formatting */
.dropdownTx {
  font-size:25px;
  color:white;
  margin-left:25vh;
  margin-top:6px;
}